<div class="w-75 border d-flex flex-column p-3">
  <h2>Data Kerusakan</h2>
  <div class="mt-4 d-flex flex-column">
    <a href="/admin/add/rusak" class="btn btn-primary align-self-end"
      >Tambah data</a
    >
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID kerusakan</th>
          <th scope="col">Nama Kerusakan</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% hasil.forEach(data => { %>
        <tr>
          <th scope="row"><%- data.id_rusak %></th>
          <td><%- data.nama_rusak %></td>
          <td class="d-flex justify-content-evenly">
            <a
              href="/admin/edit/rusak/<%- data.id_rusak %> "
              class="btn btn-success"
              class="mr-2"
              >Ubah</a
            >
            <form
              method="POST"
              action="/admin/remove/rusak/<%- data.id_rusak %> "
            >
              <button class="btn btn-danger">Hapus</button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
