<div class="w-25 min-vh-100 full-height navbar-dark bg-primary bg-gradient border">
        <h2 class="mb-4 p-3 text-white fw-bold mt-5">Nav</h2>
        <div>
          <div class="d-flex flex-column nav-item navbar-nav p-3">
            <a href="/admin/" class="nav-link fs-5 <% if (type==="rusak") { %>
             active
            <% } %>">Data kerusakan</a>
            <a href="/admin/gejala" class="nav-link fs-5 <% if (type==="gejala") { %>
             active
            <% } %>">Data gejala</a>
            <a href="/admin/relasi" class="nav-link fs-5 <% if (type==="relasi") { %>
             active
            <% } %>">Data relasi</a>

            <a href="/auth/logout" class="mt-5 nav-link fw-bold fs-5">Logout</a>
          </div>
        </div>
</div>