::-webkit-scrollbar {
  width: 10px;
}

/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0b5ed7;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

.tableFixHead {
  overflow-y: auto;
  height: 500px;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  background-color: white;
}

.img-main {
  width: 400px;
  right: 0;
  bottom: 0;
  display: flex;
  position: absolute;
}

@media (max-width: 900px) {
  .img-main {
    width: 200px;
    display: flex;
  }
}

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 16px;
}
th {
  background: #eee;
}

html,
body {
  height: 100%;
  margin: 0;
}

.full-height {
  height: 100%;
}
